.singleNewsItem img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.singleNewsItemContentDiv {
    display: flex;
    flex-direction: column;
}

.singleNewsItemTitle {
    font-size: 1.4rem;
}

.singleNewsItemContentDiv a {
    align-self: flex-end;
}